<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail</title>
    <link rel="stylesheet" href="/css/detail.css">
</head>
<body>
    <div class="top">
        <a href="/list"><p><- Turn to board</p></a>
        <h2>No. <%= data.id %></h2>
    </div>
    <div class="middle">
        <!-- 게시글 보여주는 곳 -->
        <div class="detail_wrap">
            <div class="detail">
                <label for="">TITLE</label>
                <input type="text" value="<%= data.title %>" disabled>
                <label for="">DETAILS</label>
                <textarea disabled><%= data.details %></textarea>
                
                <!-- 좋아요 누르는 곳 -->
                <div class="form">
                    <a href="/list/thumbs/<%= data.id %>"><button>b^~^b</button></a>
                    <input type="text" name="thumbs" value="<%= data.thumbs %>">
                </div>
            </div>
        </div>

        <!-- 작성된 댓글 보는 곳 -->
        <div class="comment_wrap">
            <ul class="comment_list">
                <li class="list_top">
                    <div class="list_no">No</div>
                    <div class="list_content">Content</div>
                    <div class="list_name">Name</div>
                    <div class="list_del">Delete</div>
                </li>
                <% data2.forEach((el, index) => { %>
                    <li>
                        <div class="list_no"><%= index+1 %></div>
                        <div class="list_content"><%= el.content %></div>
                        <div class="list_name"><%= el.name %></div>
                        <div class="list_del"><a href="/list/deleteComment/<%= el.id2 %>">( ´-｀)</a></div>
                    </li>
                <% }); %>
            </ul>

            <div class="comment_write">
                <!-- 댓글 작성하는 곳 -->
                <div class="form">
                    <form method="post">
                        <label for="">COMMENT</label>
                        <input type="text" name="content">
                        <button>Submit</button>
                        <!-- <a href="/posts/comment/<%= data.id %>"><button>Submit</button></a> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>